# VisualStudioCode
#.vscode/
*.code-workspace

# Local History for Visual Studio Code
.history/
.ionide/

# Project Paths
node_modules/
src/node_modules/*
_html/node_modules/*
#vendor/
#dist/
logs/*

# Others
/package.lock
/package-lock.json
/yarn.lock
/yarn-error.log
/mix-manifest.json
